Repository lex111/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @endiliey, @yangshun, @lex111, @wgao19

Fix class
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
Owners: @endiliey, @yangshun, @lex111, @wgao19

first draft
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
Owners: @endiliey, @yangshun, @lex111, @wgao19

fix(v2): don't read theme from localStorage if disableDarkMode is on
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
Owners: @endiliey, @yangshun, @lex111, @wgao19

Add static alias [WIP]
  packages/docusaurus/package-lock.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/webpack/base.ts
  website/docs/blog.md
  website/docusaurus.config.js
  website/img-/docusaurus.svg
  website/src/css/custom.css
  yarn.lock
Owners: @endiliey, @yangshun, @wgao19

Fix changelog
  CHANGELOG-2.x.md
  website/versions.json
Owners: @endiliey, @yangshun

v2.0.0-alpha.42
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @endiliey, @yangshun, @lex111, @wgao19

Update theme-classic.md
  website/docs/theme-classic.md
Owners: @wgao19

feat: add filename in CodeBlock
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Owners: @endiliey, @yangshun, @lex111, @wgao19

Fix code to use Regex to find title from markdown and Update style
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Owners: @endiliey, @yangshun, @lex111, @wgao19

chore(v2): upgrade dependencies
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  website/package.json
  yarn.lock
Owners: @endiliey, @yangshun, @lex111, @wgao19

?
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  website/package.json
Owners: @endiliey, @yangshun

fix(v2): remove trailing slash from router links
  packages/docusaurus/src/client/exports/Link.js
Owners: @endiliey, @yangshun

test
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/index.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus/src/commands/build.ts
  website/docusaurus.config.js
  website/src/data/users.js
  website/src/pages/index.js
  website/src/pages/showcase/index.js
Owners: @endiliey, @yangshun

docs(v2): use codeblock title syntax instead of comments (#2473)
  website/docs/blog.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.md
  website/docs/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/sidebar.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
Owners: @wgao19, @endiliey, @yangshun

feat(v2): add ability collapse doc sidebar
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceProvider/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/UserPreferencesContext.js
  packages/docusaurus-theme-classic/src/theme/UserPreferencesProvider/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useScrollPosition.js
  packages/docusaurus-theme-classic/src/theme/hooks/useUserPreferencesContext.js
  website/docs/docs.md
  website/docusaurus.config.js
Owners: @endiliey, @yangshun, @lex111, @wgao19

dfsd
  .eslintignore
Owners: none

Test
  .circleci/config.yml
Owners: none

Debugging
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/index.ts
Owners: @endiliey, @yangshun

Add sort nested routes
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus/src/server/plugins/index.ts
Owners: @endiliey, @yangshun

Fixes
  packages/docusaurus/src/server/plugins/index.ts
Owners: @endiliey, @yangshun

exp: extend scope
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/extraLiveEditorScope.js
  website/docs/markdown-features.mdx
  website/package.json
  website/src/theme/extraLiveEditorScope.js
Owners: @wgao19, @endiliey, @yangshun

chore(v2): migrate hapi/joi to joi
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/normalizePluginOptions.ts
  packages/docusaurus-plugin-client-redirects/src/redirectValidation.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/pluginOptionSchema.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/options.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-plugin-content-pages/src/pluginOptionSchema.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/pluginOptionSchema.js
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-plugin-sitemap/src/pluginOptionSchema.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/validateThemeConfig.js
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.js
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/__tests__/validationSchemas.test.ts
  packages/docusaurus-utils-validation/src/validationSchemas.ts
  packages/docusaurus-utils-validation/src/validationUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/server/configValidation.ts
  yarn.lock
Owners: @yangshun, @endiliey, @lex111, @wgao19

refactor(v2): render all tab panels at once
  packages/docusaurus-theme-classic/src/theme/TabItem/index.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/types.d.ts
Owners: @endiliey, @yangshun, @lex111, @wgao19

Test
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/fixtures/asset.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/fixtures/测试.pdf
Owners: @endiliey

Create check.yml
  .github/workflows/check.yml
Owners: none

Update check.yml
  .github/workflows/check.yml
Owners: none

Update check.yml
  .github/workflows/check.yml
Owners: none

Update build-size.yml
  .github/workflows/build-size.yml
Owners: none

Update build-size.yml
  .github/workflows/build-size.yml
Owners: none

Update build-size.yml
  .github/workflows/build-size.yml
Owners: none

Update custom.css
  website/src/css/custom.css
Owners: @endiliey, @yangshun

Update build-size.yml
  .github/workflows/build-size.yml
Owners: none

Update custom.css
  website/src/css/custom.css
Owners: @endiliey, @yangshun

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @endiliey
/packages/docusaurus-plugin-content-docs/ @endiliey
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @endiliey
/packages/docusaurus-theme-classic/ @endiliey @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @endiliey
/packages/docusaurus/  @endiliey @yangshun
/website/  @endiliey @yangshun
/website/docs/ @wgao19
/website-1.x/  @endiliey @yangshun
